<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">
        Joyeria D'Rouss
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link" [routerLink]="['home']" >Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['galeria']">Joyas</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar joya" aria-label="Search" #texto (keyup.enter)="buscar(texto.value)">
            <button (click)="buscar(texto.value)" class="btn btn-outline-dark my-2 my-sm-0" type="button">Buscar</button>
        </div>
    </div>
</nav>
